.friendList {
	display: flex;
	align-items: center;
	margin: 0 10px;
	margin-bottom: 10px;
	padding: 10px 15px;
	border-bottom: 0.1px solid #cecece;
}
.friendList__header{
	max-width: 100%;
	overflow: hidden;
	overflow-wrap: anywhere;
	display: -webkit-box;
    -webkit-box-orient: vertical;
	-webkit-line-clamp: 3; 
    text-overflow: ellipsis;
}

.friendList__message{
	/* max-width: 100%;
   
	white-space: pre-line; */
	/* margin-left: 50px; */
	font-size: 12px;
	margin-top: 2px;
	font-weight: 500;
	color: rgb(173, 172, 172);
}
.friendList__avatar {
	margin-right: 10px;
	width: 30px;
	height: 30px;
}

.friend__search > .MuiSvgIcon-Icon {
	color: #111418;
}

.friendList:hover {
	background-color: #414960;

	border-radius: 5px;
	color: white;
	transition: color 100ms ease-out;
	cursor: pointer;
}

.none {
	display: none;
}

.friendList-selected{
	background-color: #414960;
	border-radius: 5px;
	color: white;	
}