.sideBarOption {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin: 0 5px;
	margin-right: 5px !important;
	margin-bottom: 5px;
	/* justify-content: space-between; */
	width: 100%;
}

.sideBarOption:hover {
	background-color: #568bf2;
	border-radius: 30px;
	color: white;
	transition: color 100ms ease-out;
}

.sideBarOption > .MuiSvgIcon-root {
	padding: 15px;
}

.sideBarOption-selected{
	background-color: #568bf2;
	border-radius: 30px;
	color: white;
}